	section.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	grid-auto-rows: minmax(100px, auto);
	gap:calc(2em + 2vh) calc(1.5em + 1vmin);
}

/*section.list
{
	display : flex;
	justify-content : space-between;
	flex-wrap:wrap;
}
section.list > div 
{
width : 30%;
}*/
section.list article header{
	text-align:center;
}
section.list article{
	text-align : center;
}
section.list img {
	display:inline-block;

}
.short-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align:center;
}

